<ul id="menu">


    <li class="page-link">
        @Html.ActionLink( "Contacts", "Index", "Contacts" )
    </li>
    <li class="page-link">
        @Html.ActionLink( "Campaigns", "Index", "Campaigns" )
    </li>
    <li class="page-link">
        @Html.ActionLink( "Import", "ImportFile", "Import" )
    </li>
    <li class="page-link">
        @Html.ActionLink("Invalid Mailing Addresses", "InvalidMailingAddresses", "Import")
    </li>
    <li class="page-link">
        @Html.ActionLink( "Users", "Index", "Users" )
    </li>
</ul>
